<div class="form-container">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      [formControl]="formControls['username']"
      value="{{ user?.Username }}"
      id="username-input"
    />

    <mat-error
      *ngIf="formControls['username'].hasError('required')"
      id="username-required-error"
    >
      {{ errorMessages["username"]["required"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['username'].hasError('minlength')"
      id="username-minlength-error"
    >
      {{ errorMessages["username"]["minlength"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['username'].hasError('maxlength')"
      id="username-maxlength-error"
    >
      {{ errorMessages["username"]["maxlength"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['username'].hasError('duplicate')"
      id="username-duplicate-error"
    >
      {{ errorMessages["username"]["duplicate"] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="formControls['email']"
      value="{{ user?.Email }}"
      id="email-input"
    />

    <mat-error
      *ngIf="formControls['email'].hasError('required')"
      id="email-required-error"
    >
      {{ errorMessages["email"]["required"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['email'].hasError('pattern')"
      id="email-pattern-error"
    >
      {{ errorMessages["email"]["pattern"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['email'].hasError('duplicate')"
      id="email-duplicate-error"
    >
      {{ errorMessages["email"]["duplicate"] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input
      matInput
      [formControl]="formControls['firstName']"
      value="{{ user?.Firstname }}"
      id="first-name-input"
    />

    <mat-error
      *ngIf="formControls['firstName'].hasError('required')"
      id="first-name-required-error"
    >
      {{ errorMessages["firstName"]["required"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['firstName'].hasError('minlength')"
      id="first-name-minlength-error"
    >
      {{ errorMessages["firstName"]["minlength"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['firstName'].hasError('maxlength')"
      id="first-name-maxlength-error"
    >
      {{ errorMessages["firstName"]["maxlength"] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input
      matInput
      [formControl]="formControls['lastName']"
      value="{{ user?.Lastname }}"
      id="last-name-input"
    />

    <mat-error
      *ngIf="formControls['lastName'].hasError('required')"
      id="last-name-required-error"
    >
      {{ errorMessages["lastName"]["required"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['lastName'].hasError('minlength')"
      id="last-name-minlength-error"
    >
      {{ errorMessages["lastName"]["minlength"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['lastName'].hasError('maxlength')"
      id="last-name-maxlength-error"
    >
      {{ errorMessages["lastName"]["maxlength"] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Department</mat-label>
    <input
      matInput
      [formControl]="formControls['department']"
      value="{{ user?.Department }}"
      id="department-input"
    />

    <mat-error
      *ngIf="formControls['department'].hasError('minlength')"
      id="department-minlength-error"
    >
      {{ errorMessages["department"]["minlength"] }}
    </mat-error>

    <mat-error
      *ngIf="formControls['department'].hasError('maxlength')"
      id="department-maxlength-error"
    >
      {{ errorMessages["department"]["maxlength"] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(value)]="currentStatus" id="status-select">
      <mat-option
        *ngFor="let status of userStatuses"
        [value]="status.key"
        id="{{ status.key }}-option"
      >
        {{ status.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="form-footer">
  <button
    id="create-update-button"
    mat-raised-button
    (click)="onSubmit()"
    matTooltip="Insert the user data"
    [disabled]="fetchingFromBackend"
  >
    {{ user ? "Update" : "Create" }}
  </button>

  <button
    id="delete-button"
    *ngIf="allowDelete"
    mat-fab
    color="warn"
    aria-label="Delete User"
    matToolTip="Delete the user"
    [disabled]="fetchingFromBackend"
    (click)="onDelete()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>

<!-- <app-error-message 
  *ngIf="backendErrorOccurred" 
  (dismissEvent)="onErrorMessageDismiss()" 
  [message]="getBackendErrorMessage()">
</app-error-message> -->