.container {
    display:block;
    padding: 25px 15px;
}

.list-container {
    display: block;
    min-height: 300px;
}

.user-loading-spinner {
    margin:auto;
}

.list-footer {
    padding: 10px;
}
