<div class="container" *ngIf="users">
    <div class="list-header">
        <h1>Current users</h1>
    </div>
    <div class="list-container">
        <mat-spinner class="user-loading-spinner" *ngIf="fetchingFromBackend"></mat-spinner>
        <mat-accordion multi>
            <mat-expansion-panel class="expansion-container" *ngFor="let user of users">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{user.Username}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{user.Email}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <app-user-form
                    [user]="user"
                    [allowDelete]="true"
                    (userUpdatedEvent)="onUserUpdated($event)"
                    (userDeletedEvent)="onUserDeleted($event)">
                </app-user-form>
            
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>